<?xml version="1.0" encoding="UTF-8"?>

<template>
    <template_title>Epona</template_title>
    <number_of_navigations>2</number_of_navigations>
    <navigations>
        <navigation>
            <navigation_id>1</navigation_id>
            <navigation_ul_class>nav navbar-nav</navigation_ul_class>
            <navigation_title>Header Navigation</navigation_title>
            <parsing_information>
                <levels>
                    <level>
                        <depth>0</depth>
                        <content>&lt;li data-type=&quot;content&quot; data-id=&quot;%content_id%&quot;&gt;&lt;a href=&quot;%link%&quot;&gt;%caption%&lt;/a&gt;&lt;/li&gt;&lt;span&gt;&lt;/span&gt;</content>
                        <navigation>&lt;li class="mega-menu dropdown active"&gt;&lt;a href=&quot;%link%&quot;  class="dropdown-toggle" &gt;%caption%&lt;/a&gt;%navigation% asdasdasd&lt;/li&gt;</navigation>
                        <containerOpen>&lt;ul id="topMain" class="nav nav-pills nav-main"&gt;</containerOpen>
                        <containerClose>&lt;/ul&gt;</containerClose>
                    </level>
                    <level>
                        <depth>1</depth>
                        <content>&lt;li&gt;&lt;a href=&quot;%link%&quot;&gt;%caption%&lt;/a&gt;&lt;/li&gt;</content>
                        <navigation><li><a class="dropdown-toggle" href="#">%caption%</a>%navigation%</li></navigation>
                        <containerOpen>&lt;ul class="dropdown-menu"&gt;</containerOpen>
                        <containerClose>&lt;/ul&gt;</containerClose>
                    </level>
                    <level>
                        <depth>2</depth>
                        <content>&lt;li&gt;&lt;a href=&quot;%link%&quot;&gt;%caption%&lt;/a&gt;&lt;/li&gt;</content>
                        <navigation><li><a class="dropdown-toggle" href="#">%caption%</a>%navigation%</li></navigation>
                        <containerOpen>&lt;ul class="dropdown-menu"&gt;</containerOpen>
                        <containerClose>&lt;/ul&gt;</containerClose>
                    </level>
                </levels>
            </parsing_information>
        </navigation>
        <navigation>
            <navigation_id>2</navigation_id>
            <navigation_ul_class>navbar-collapse collapse</navigation_ul_class>
            <navigation_title>Footer Navigation</navigation_title>
        </navigation>
    </navigations>
</template>
