<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		%meta%
		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/line-icons.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/flexslider.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layerslider.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/header-default.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/footer-default.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/lightgrey.css" rel="stylesheet" type="text/css" id="color_scheme" />
		<!--<link href="assets/css/layout-dark.css" rel="stylesheet" type="text/css"  />-->

		<!-- Morenizr -->
		<script type="text/javascript" src="assets/plugins/modernizr.min.js"></script>

		<!--[if lte IE 8]>
		<![endif]-->
	</head>
	
	<!-- 
		Available body classes: 
			smoothscroll			= enable chrome browser smooth scroll
			grey 					= grey content background
			boxed 					= boxed style
			pattern1 ... pattern10 	= background pattern

		Background Image - add to body: 
			data-background="assets/images/boxed_background/1.jpg"

		Examples: 
			<body class="smoothscroll grey boxed pattern3">
			<body class="smoothscroll boxed" data-background="assets/images/boxed_background/1.jpg">
	-->
	<body class="smoothscroll">

		<div id="wrapper">

			<div id="header"><!-- class="sticky" for sticky menu -->

				<!-- Top Bar -->
				<header id="topBar">
					<div class="container">

						<div class="pull-right fsize13 margin-top10 hide_mobile">

							<!-- mail , phone -->
							<a href="mailto:info@batchcon.com">info@bathcon.com</a> &bull; Tel.: +49 40 46 96 67 40

							

						</div>

						<!-- Logo -->
						<a class="logo" href="index.html">
							<img src="assets/images/logo.png" height="50" alt="" />
						</a>

					</div><!-- /.container -->
				</header>
				<!-- /Top Bar -->


				<!-- Top Nav -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Top Nav -->
						<div class="navbar-collapse nav-main-collapse collapse">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								%navigation[1]%

							</nav>
						</div>
						<!-- /Top Nav -->

					</div><!-- /.container -->
				</header>
				<!-- /Top Nav -->

			</div>


			


			<!-- CALLOUT -->
			<div class="callout"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
				<div class="container">

					<div class="row">

						<div class="col-md-12"><!-- title + shortdesc -->
                                                        <div>
                                                            %content%
                                                        </div>
						</div>

					</div>

				</div>
			</div>
			<!-- /CALLOUT -->
			

			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">

						<!-- col #1 -->
						<div class="logo_footer dark col-md-3">

							<img alt="" src="assets/images/logo.png" style="max-width: 100%;" class="logo" />

							<p class="block">
								Bathcon GmbH<br>Harvestehude Weg 5<br>20148 Hamburg<br><br>Tel.: +49 40 46 96 67 40<br><br>E-Mail: kb@bathcon.com
							</p>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="spaced col-md-3 col-sm-4 hidden-xs">
							<h4>Footer <strong>Menu</strong></h4>
							<ul class="list-unstyled">
								<li>
									<a class="block" href="#">Lorem Ipsum</a>
								</li>
								<li>
									<a class="block" href="#">Lorem Ipsum</a>
								</li>
								<li>
									<a class="block" href="#">Lorem Ipsum</a>
								</li>
							</ul>
						</div>
						<div class="spaced col-md-3 col-sm-4 hidden-xs">
							<h4>Footer <strong>Menu</strong></h4>
							<ul class="list-unstyled">
								<li>
									<a class="block" href="#">Lorem Ipsum</a>
								</li>
								<li>
									<a class="block" href="#">Lorem Ipsum</a>
								</li>
								<li>
									<a class="block" href="#">Lorem Ipsum</a>
								</li>
							</ul>
						</div>
						<!-- /col #2 -->

						<!-- col #3 -->
						<div class="spaced col-md-3 col-sm-4 hidden-xs">
							<h4>Footer <strong>Menu</strong></h4>
							<ul class="list-unstyled fsize13">
								<li>
									Possible Item<small class="ago">8 mins ago</small>
								</li>
								<li>
									Possible Item<small class="ago">8 mins ago</small>
								</li>
								<li>
									Possible Item<small class="ago">8 mins ago</small>
								</li>
							</ul>
						</div>
						<!-- /col #3 -->

						<!-- col #4 -->
						<!--<div class="spaced col-md-3 col-sm-4">
							<h4>About <strong>Us</strong></h4>
							<p>
								Incredibly beautiful responsive Bootstrap Template for Corporate and Creative Professionals.
							</p>

							<h4><small><strong>Subscribe to our Newsletter</strong></small></h4>
							<form id="newsletterSubscribe" method="post" action="php/newsletter.php" class="input-group">
								<input required type="email" class="form-control" name="newsletter_email" id="newsletter_email" value="" placeholder="E-mail Address">
								<span class="input-group-btn">
									<button class="btn btn-primary">SUBMIT</button>
								</span>
							</form>

						</div>-->
						<!-- /col #4 -->

					</div>

				</div>

				<hr />

				<div class="copyright">
					<div class="container text-center fsize12">
						Copyright © TopBadConstruction 2014
						<a href="impressum.html" class="fsize11">Impressum</a> &bull; 
						<a href="kontakt.html" class="fsize11">Kontakt</a>
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript" src="assets/plugins/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery.isotope.js"></script>
		<script type="text/javascript" src="assets/plugins/masonry.js"></script>

		<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="assets/plugins/knob/js/jquery.knob.js"></script>
		<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="assets/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/revolution_slider.js"></script>
		

		<script type="text/javascript" src="assets/js/scripts.js"></script>
        </body>
</html>