<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="jquery.js"></script>
    <title>Starter Template for Bootstrap</title>
    
  </head>
  <style>
  
  	.block{
  		background: #c9c9c9;
  		height: 20px;
  		position: absolute;
  		bottom: 0;
  	}
  	
  	#dude{
  		width:20px;
  		height:20px;
  		background:green;
  		position:absolute;
  		top: 0px;
  	}
  	
  	#score{
  		position: absolute;
  		top: 0;
  		right: 0;
  		width:100px;
  		height:20px;
  	}
  </style>
  <script>
  /**
 * Returns a random integer between min and max
 * Using Math.round() will give you a non-uniform distribution!
 */
function getRandomInt (min, max) {
    return Math
    .floor(Math.random() * (max - min + 1)) + min;
}
  
  var blocks = new function(){
  
  this.generate = function(){
  	var numberOfBlocks = getRandomInt(1,5);
  	var maxBlockSize = $(document).width()*0.1;
  	var margin = 0;
  	var i = 0;
  	var html = '';
  	console.log(numberOfBlocks);
  	while(i < numberOfBlocks){
  		//if postion of the block is out of the window range
  		//no blocks should be generated
  		if(margin >= $(document).width())
  			return;
  			
  		//define start position
  		if(margin === 0){
  			margin = getRandomInt(0,maxBlockSize*4);
  		}
  		var blockSize = getRandomInt(20,maxBlockSize);
  		html += '<div class="block" style="width:'+blockSize+'px; margin-left:'+margin+'px; position: absolute;"></div>';
  		
  		
  		//define margin for the next block
  		margin = margin+blockSize+getRandomInt(10, (maxBlockSize));
  		//console.log(position);
  		i++;
  	}
  	$('#mainFrame').append(html);
  	
  };
  
  };
  var game = new function(){
  	this.interval;
  	this.serious = false; //defines if dude dies if he misses a block(only active after first block was touched)
  	this.score = 0;
  	this.start = function(){
  		this.interval = window.setInterval("sim.run()", 60);
  	};
  	this.stop = function(){
  		clearInterval(this.interval);
  		clearInterval(dude.jumpIntevall);
  	};
  	this.over = function(){
  		this.stop();
  		alert('game.over');
  		this.reset();
  	};
  	this.reset = function(){
  		$('.block').remove();
  	};
  };
  var gameTypes = new function(){
  	
  	this.fall = function(){
  				if(game.serious === true){
	  				if($('.caught').length === 0){
	  					$('#dude').css('top', '+=01');
	  					dude.positionYBottom++;
	  					console.log(dude.positionYBottom);
	  					var position = $('#dude').position();
	  					if(position.top > $(window).height()){
	  						game.over();
	  					}
	  				}
	  			}
  		
  		var position = $('#dude').position();
  		if(position.top > $(document).height()){
  			game.stop();
  		}
  	};
  	
  	this.fadeOut = function(){
  		$('.caught').each(function(){
  			if($(this).css('opacity')-0.5 > 0)
  				$(this).css('opacity', '-=0.05');
  			else
  				$(this).remove();
  		});
  	};
  	
  	this.collect = function(){
  				if(game.serious === true){
	  				if($('.caught').length === 0){
	  					game.stop();
	  				}
	  			}
  	};
  	
  };
  var sim = new function(){
  	this.blockCounter = 0;
  
  	this.run = function(){
  		//generate new blocks every 4 movements
  		if((this.blockCounter/32) === 1){
  			blocks.generate();
  			this.blockCounter = 0;
  		}
  		//move blocks up
  		var blockes = $('.block');
  		$.each(blockes, function(){
  		    var position = $(this).offset();
  		    var blockXLeft = position.left;
  		    var blockXRight = position.left+$(this).width();
  		    if(position.top < -20){
  		    	$(this).remove();
  		    	return;
  		    }
  		    
  		    if(position.top-dude.positionYBottom < 1 
  		    	&& dude.positionXLeft >= blockXLeft && dude.positionXRight <= blockXRight){
  				$(this).css('background', 'red');
  				$(this).addClass('caught');
  				//game.stop();
  				console.log('middle');
  				if(!game.serious){
  					game.serious = true;
  				}
  		    }else if(position.top <= dude.positionYBottom 
  		    	&& blockXRight >= dude.positionXLeft && blockXRight <= dude.positionXRight){
  		    	$(this).css('background', 'red');
  				$(this).addClass('caught');
  				//game.stop();
  				console.log('left');
  				if(!game.serious){
  					game.serious = true;
  				}
  		    }else if(position.top <= dude.positionYBottom 
  		    	&& blockXLeft >= dude.positionXLeft && blockXLeft <= dude.positionXRight){
  		    	$(this).css('background', 'red');
  				$(this).addClass('caught');
  				//game.stop();
  				console.log('right');
  				if(!game.serious){
  					game.serious = true;
  				}
  		    }else{
  		    	$(this).css('bottom', '+=07');
  				$(this).removeClass('caught');
  		
  				gameTypes.fall();
  		    }
  		    
  		});
  		gameTypes.fadeOut();
  		game.score = game.score+($('.caught').length*7);
  		$('#score').text(game.score);
  		this.blockCounter++;
  		
  	};
  };
  
  
  var jump = new function(){
  	this.resetTime = function(){
  		this.t = 0;
  		clearInterval(dude.jumpIntervall);
  	};
  	this.getVelocity = function(){
  		
  		var startVelocity, gravity, velocity, t, base;
  		
  		t = this.t;
  		
  		startVelocity = 100;
  		gravity = -5;
  		
  		base = t+gravity;
  		velocity = startVelocity-(base*base*base);
  		
  		this.t++;
  		return velocity;
  		
  		
  	
  	};
  	
  };
  
  
  var dude = new function(){
  	this.postionXLeft;
  	this.postionXRight;
  	this.positionYBottom = 20;
  	this.jumpIntevall;
  	
  	this.jump = function(){
  		
  		jump.resetTime();
  		
  		this.jumpIntevall = window.setInterval(function(){
  			
			dude.moveY(jump.getVelocity());
			
  		}, 30);
  		
  	};
  
  	this.listenForMovement = function(){
  		
  		$(document).keydown(function(event){
  			event.preventDefault();
  			if(event.keyCode == 37){
  				dude.moveLeft(10);
  			}else if(event.keyCode == 39){
  				dude.moveRight(10);
  			}
  		});
  		
  	
  	};
  
  	this.moveRight = function(width){
  		dude.positionXLeft = dude.positionXLeft+width;
  		dude.positionXRight = dude.positionXLeft+width;
  		
  		$('#dude').css('margin-left','+='+width);
  	};
  	this.moveLeft = function(width){
  		dude.positionXLeft = dude.positionXLeft-width;
  		dude.positionXRight = dude.positionXLeft-width;
  		
  		$('#dude').css('margin-left','-='+width);
  	};
  	this.moveY = function(value){
  		if(value > 0){
  			$('#dude').css('top', '+='+value);
  			this.positionYBottom = this.positionYBottom+value;
  		}else if(value < 0){
  			$('#dude').css('top', '+='+value);
  			this.positionYBottom = this.positionYBottom+value;
  		}
  	};;
  
  };
  
  $(document).ready(function(){
	  var dudePosition = $('#dude').position();
	  dude.positionXLeft = dudePosition.left-10;
	  dude.positionXRight = dudePosition.left+10;
	  
	  dude.listenForMovement();
  });
  
  </script>
  <body style="overflow:hidden;margin: 0;">
  	<a href="#" onclick="game.start();">start game</a>
  	<div id="score"></div>
  	<div id="dude"> </div>
	<div id="mainFrame">
	
	</div>
  </body>
</html>
